In [1]:
pip install couchdb

Requirement already satisfied: couchdb in c:\users\carlo\appdata\local\programs\python\python311\lib\site-packages (1.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [77]:
import couchdb
import pandas as pd
couchserver = couchdb.Server("http://admin:12345@localhost:5984/")

In [78]:
for dbname in couchserver:
    print(dbname)

analisisdatoschile
base
farmacia
nintendo
nosql2022b
tienda

In [67]:
for dbname in couchserver:
    print(dbname)

analisisdatoschile
base
farmacia
nintendo
nosql2022b
tienda

In [113]:
#crear o seleccionar una base nombre Analisis Datos Chile
dbname = "analisisdatoschile"
if dbname in couchserver:
    db = couchserver[dbname]
else:
    db = couchserver.create(dbname)

In [156]:
anio_df = pd.read_csv("infochilelista.csv")

In [157]:
print("En total hay Filaas y Columnas")
print(anio_df.shape)

En total hay Filaas y Columnas
(415611, 9)

In [102]:
print(anio_df.fillna(0)) #remplazamos datos nulos por 0

        ano_trimestre  mes_central  region  mes_encuesta  hogar  nro_linea  \
0                2019            2      10             1      1          1
1                2019            2      10             1      1          2
2                2019            2      10             1      1          1
3                2019            2      10             1      1          2
4                2019            2      10             1      1          1
...               ...          ...     ...           ...    ...        ...
415606           2019           11       4            12      1          4
415607           2019           11      13            12      1          2
415608           2019           11      11            12      1          2
415609           2019           11      11            12      1          3
415610           2019           11      11            12      1          4

        edad  sexo  tramo_edad
0         59     1         9.0
1         62     2        10.0
2         50     1         8.0
3         56     2         9.0
4         58     1         9.0
...      ...   ...         ...
415606    17     2         1.0
415607    63     2        10.0
415608    49     2         7.0
415609    28     1         3.0
415610    24     1         2.0

[415611 rows x 9 columns]

In [158]:
anio_df.describe() #descripcion de los datos que tenemos

,ano_trimestre,mes_central,region,mes_encuesta,hogar,nro_linea,edad,sexo,tramo_edad
count,415611.0,415611.000000,415611.000000,415611.000000,415611.000000,415611.000000,415611.000000,415611.000000,356815.000000
mean,2019.0,6.387391,8.756736,6.398611,1.008183,2.509546,38.526661,1.521557,6.251960
std,0.0,3.319012,4.035317,3.434770,0.102061,1.601725,23.026871,0.499536,3.794199
min,2019.0,2.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000
25%,2019.0,2.000000,5.000000,3.000000,1.000000,1.000000,19.000000,1.000000,3.000000
50%,2019.0,5.000000,8.000000,6.000000,1.000000,2.000000,38.000000,2.000000,6.000000
75%,2019.0,8.000000,13.000000,9.000000,1.000000,3.000000,57.000000,2.000000,9.000000
max,2019.0,11.000000,16.000000,12.000000,5.000000,21.000000,107.000000,2.000000,12.000000

In [106]:
anio_df.drop(columns = ["mes_encuesta","hogar","nro_linea","tramo_edad"], axis = 0)

        ano_trimestre  mes_central  region  edad  sexo
0                2019            2      10    59     1
1                2019            2      10    62     2
2                2019            2      10    50     1
3                2019            2      10    56     2
4                2019            2      10    58     1
...               ...          ...     ...   ...   ...
415606           2019           11       4    17     2
415607           2019           11      13    63     2
415608           2019           11      11    49     2
415609           2019           11      11    28     1
415610           2019           11      11    24     1

[415611 rows x 5 columns]

In [107]:
anio_df.to_csv('Chile-Datos-2019.csv')

No se pudo guardar el archivo CSV en CouchDB. Código de estado HTTP:  412