In [1]:
import sqlite3
import pandas as pd

In [46]:
df = pd.read_csv(r'poburb_18a65_tasaempleo.csv')

In [47]:
df

,indice_tiempo,poburb_18a65_tasaempleo_arg,poburb_18a65_tasaempleo_2,poburb_18a65_tasaempleo_6,poburb_18a65_tasaempleo_10,poburb_18a65_tasaempleo_14,poburb_18a65_tasaempleo_18,poburb_18a65_tasaempleo_22,poburb_18a65_tasaempleo_26,poburb_18a65_tasaempleo_30,...,poburb_18a65_tasaempleo_58,poburb_18a65_tasaempleo_62,poburb_18a65_tasaempleo_66,poburb_18a65_tasaempleo_70,poburb_18a65_tasaempleo_74,poburb_18a65_tasaempleo_78,poburb_18a65_tasaempleo_82,poburb_18a65_tasaempleo_86,poburb_18a65_tasaempleo_90,poburb_18a65_tasaempleo_94
0,2019-10-01,0.662,0.763,0.649,0.652,0.651,0.618,0.616,0.647,0.644,...,0.666,0.643,0.661,0.688,0.684,0.658,0.649,0.653,0.642,0.606
1,2020-01-01,0.650,0.753,0.637,0.614,0.649,0.632,0.627,0.610,0.627,...,0.640,0.604,0.641,0.649,0.674,0.650,0.629,0.613,0.609,0.560
2,2020-04-01,0.534,0.644,0.505,0.550,0.551,0.494,0.555,0.543,0.528,...,0.550,0.583,0.528,0.551,0.598,0.598,0.534,0.505,0.504,0.426
3,2020-07-01,0.590,0.664,0.553,0.589,0.653,0.570,0.573,0.640,0.597,...,0.626,0.601,0.620,0.617,0.648,0.648,0.632,0.612,0.562,0.000
4,2020-10-01,0.626,0.715,0.606,0.639,0.629,0.578,0.600,0.656,0.608,...,0.649,0.634,0.633,0.661,0.642,0.636,0.625,0.617,0.602,0.596
5,2021-01-01,0.657,0.709,0.656,0.621,0.654,0.613,0.582,0.622,0.638,...,0.601,0.628,0.655,0.631,0.658,0.640,0.670,0.627,0.605,0.615
6,2021-04-01,0.655,0.734,0.642,0.611,0.654,0.610,0.591,0.625,0.646,...,0.632,0.643,0.656,0.653,0.680,0.635,0.675,0.642,0.599,0.632
7,2021-07-01,0.674,0.769,0.664,0.616,0.678,0.632,0.572,0.648,0.631,...,0.662,0.641,0.658,0.660,0.673,0.648,0.701,0.653,0.614,0.650
8,2021-10-01,0.687,0.775,0.683,0.616,0.694,0.644,0.589,0.670,0.620,...,0.670,0.625,0.676,0.680,0.647,0.682,0.697,0.637,0.623,0.631
9,2022-01-01,0.678,0.761,0.669,0.664,0.672,0.624,0.594,0.650,0.623,...,0.674,0.615,0.679,0.672,0.683,0.641,0.693,0.643,0.637,0.669
10,2022-04-01,0.700,0.775,0.693,0.651,0.688,0.645,0.642,0.649,0.629,...,0.663,0.619,0.698,0.689,0.684,0.696,0.727,0.664,0.675,0.697

In [48]:
x = range(3,26)

In [49]:
a = df.drop(df.columns[x], axis='columns')

In [50]:
a

   indice_tiempo  poburb_18a65_tasaempleo_arg  poburb_18a65_tasaempleo_2
0     2019-10-01                        0.662                      0.763
1     2020-01-01                        0.650                      0.753
2     2020-04-01                        0.534                      0.644
3     2020-07-01                        0.590                      0.664
4     2020-10-01                        0.626                      0.715
5     2021-01-01                        0.657                      0.709
6     2021-04-01                        0.655                      0.734
7     2021-07-01                        0.674                      0.769
8     2021-10-01                        0.687                      0.775
9     2022-01-01                        0.678                      0.761
10    2022-04-01                        0.700                      0.775

In [51]:
#Cambio de nombre de las columnas
a=a.rename(columns={'poburb_18a65_tasaempleo_arg':'Tasa de empleo (Buenos Aires)', 'poburb_18a65_tasaempleo_2':'Tasa de empleo (Mar del Plata)'})

In [52]:
a.to_csv('datos_nuevos.csv', index= False)

In [53]:
df1 = pd.read_csv('datos_nuevos.csv')
df1

,indice_tiempo,Tasa de empleo (Buenos Aires),Tasa de empleo (Mar del Plata)
0,2019-10-01,0.662,0.763
1,2020-01-01,0.650,0.753
2,2020-04-01,0.534,0.644
3,2020-07-01,0.590,0.664
4,2020-10-01,0.626,0.715
5,2021-01-01,0.657,0.709
6,2021-04-01,0.655,0.734
7,2021-07-01,0.674,0.769
8,2021-10-01,0.687,0.775
9,2022-01-01,0.678,0.761
10,2022-04-01,0.700,0.775

In [54]:
conexion = sqlite3.connect('base.sql')

In [55]:
df1.to_sql('datos', conexion, if_exists='replace', index=False)

11

In [56]:
conexion.close()